	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Envíos a todo el país</h2>
						<p>En Air Sneaks, nos complace ofrecer envíos a todo el país para que puedas disfrutar de nuestros productos sin importar dónde te encuentres. </p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Programa de recompensas </h2>
						<p>Con nuestro programa de recompensas, cada compra que realices acumula puntos que puedes canjear por fantásticos beneficios y descuentos en futuras compras. Es nuestra manera de decirte 'gracias' por elegirnos como tu tienda de confianza.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Política de devolución</h2>
						<p>En Air Sneaks,tu satisfacción es nuestra prioridad. Si no estás completamente satisfecho con tu compra, aceptamos devoluciones dentro de los primeros 30 días desde la recepción del artículo.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>	
</html>